doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form
      button(formaction="./") home
      button(formaction="./users") users
      button(formaction="./login") login
      button(formaction="./logout") logout
    block content